div{
    height: auto;
    border: 6px solid #949599;
    margin: 20px;
    padding: 50px;
    width: 700px;
    background-color: #FDD017;
    font-family: sans-serif;

}
#cat{
    background-color: darkmagenta;
}
.hen{
    background-color: chartreuse;
}
#boy{
    background-color: dodgerblue;
}
#frog{
    background-color: brown;
}
